name: pr

on: [pull_request]

jobs:
  hadolint:
    uses: wittdennis/pipelines/.github/workflows/hadolint.yaml@1.13.2

  build:
    uses: wittdennis/pipelines/.github/workflows/container-image-build.yaml@1.13.2
    needs:
      - hadolint
    with:
      image-name: atlantis
      create-artifacts: false
