name: github-release

on:
  workflow_dispatch:

jobs:
  release:
    uses: wittdennis/pipelines/.github/workflows/cog-release.yaml@1.12.9
    with:
      check-latest-tag-only: true
    secrets:
      release-token: ${{ secrets.RELEASE_TOKEN }}
